.ColorBoxGrid {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
}

/* Make full-screen on mobile devices */
@media (max-width: 768px) {
  .ColorBoxGrid {
    width: 100vw;
    height: 100vh;
  }
}
